name: Monthly Bark Beetle Prediction

on:
  workflow_dispatch:
  schedule:
    # Run on 1st of every month at 2 AM
    - cron: '0 2 1 * *'
  
  
jobs:
  run-inference:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    
    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas numpy hopsworks python-dotenv pyarrow scikit-learn


    - name: execute python workflows from bash script
      env:
        HOPSWORKS_API_KEY: ${{ secrets.HOPSWORKS_API_KEY }}
      run: |
        #insert notebooks to be executed here
        ipython notebooks/